/**
 * @name Custom1
 * @version 8.0
 * @description A simple but highly customizable theme, now sugar free!
 * @author Spectra
 * @invite PZdnCVD
 * @source https://github.com/xcruxiex/themes
 * @website https://betterdiscord.app/theme/Neutron
 * @BDEditor Neutron
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700&display=swap');
@import url('https://xcruxiex.github.io/themes/themes-cores/neutron8.css');
@import url('https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css');

:root {
  --backgroundImage: url('https://imgur.com/qhBghXt.png');
  --backgroundColor: #0d0d0d;
  --backgroundSize: cover;
  --backgroundPosition: center;
  --backgroundRepeat: no-repeat;
  --backgroundBlur: 7px;
  --backgroundOpacity: 0.25;
  --homeImage: url('https://i.imgur.com/1Z4q2GP.png');
  --homeImageSize: cover;
  --themeColor1: #9F69FF;
  --themeColor2: #7641D4;
  --customFont: Montserrat;
  --backgroundCode: rgb(26,0,95,0.31);
  --backgroundName: rgb(42,0,88,0.23);
  --rs-small-spacing: 2px;
  --rs-medium-spacing: 2px;
  --rs-large-spacing: 2px;
  --rs-small-width: 2px;
  --rs-medium-width: 2px;
  --rs-large-width: 2px;
  --rs-avatar-shape: 50%;
  --rs-online-color: #43b581;
  --rs-idle-color: #faa61a;
  --rs-dnd-color: #f04747;
  --rs-offline-color: #636b75;
  --rs-streaming-color: #643da7;
  --rs-phone-visible: block;
}

/* Any custom CSS below here */


